body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(background.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    font-family: "Times New Roman", Georgia, Serif;
}

input {
    font-family: sans-serif;
    display: block;
    width: 550px;
    outline: none;
    background: rgba(0,0,0,0.3);
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2), 0px 1px 1px rgba(255,255,255,255);
    margin-bottom: 5px;
}

h2{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 35px;
}

input[type=button] {
    background-color: white;
    border: 2px solid steelblue;
    color: black;
    padding:15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}   

input[type=button]:hover {
    background-color: lightblue;
    color: white;
}