.button {
    background-color: white;
    border: 2px solid green;
    color: black;
    padding:15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}	

.button1:hover {
	background-color: green;
    color: white;
}
