body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:gray;
        /*background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(dis.jpg);
        height: 100vh
        
        background-position: center;*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/


}





h1 {
    font-size:65px;
    color:  gray;
    font-weight:large;
    margin: 0 15px;
    padding:12px;
    text-align:center;
    background-color: lightblue;
}

/*.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#0A75FF;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}*/
 
input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

button{
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: lightblue;
    width: 100%
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    /*cursor: pointer; */
    float: center;

}




/*button{
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer; 

}*/